* {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
}

section {
  flex-wrap: wrap;
}

title {
  font-style: Bold;
  font-size: 50px;
  justify-content: center;
  text-decoration: underline;
}

img {
  justify-content: center;
  justify-content: space-around;
  align-content: center;
}

nav {
  width: 100%;
  height: 90px;
  background-color: #fff;
}

.container {
  width: 100%;
  height: 1100px;
  background-color: #87ceeb;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  border-style: solid;
  border-width: thick;
  border-color: #000000;
  display: grid;
  grid-template-columns: 200px, 200px, 200px;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*=col-] {
  justify-content: space-around;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  display: flex;
  align-self: flex-start;
  background-color: #3399ff;
  color: #ffffff padding: 12px;
  justify-content: space-around;
  grid-area: header;
}

.header img {
  left: -27%;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #ffd700;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
  background-color: #ffffff;
}

@media (max-width: 667px) {
  [class*="col-"] {
    width: 100%
  }
}

@media screen and (min-width: 800px) {
  .container {
    margin: 1em 2em;
  }
}

.news {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.news>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

body {
  background-color: #ffd700;
}

h1 {
  color: black;
  text-align: left;
  font-family: arial;
  font-size: 30px;
  font-style: italic;
  text-decoration: underline;
}

p {
  font-family: verdana;
  font-size: 25px;
  text-align: left;
  justify-content: space-between;
  flex-direction: column;
  text-decoration: underline;
  justify-content: space-around;
}

p2 {
  font-family: verdana;
  font-size: 25px;
  text-align: left;
  justify-content: space-between;
  flex-direction: column;
  text-decoration: underline;
  font-style: italic;
  color: red;
  justify-content: space-around;
}

h2 {
  font-style: italic;
  font-family: inherit;
  font-weight: 100;
  text-decoration: underline;
  text-transform: capitalize;
  color: black;
  font-size: 30px;
  margin: 0px;
  background-color: #87ceeb;
  text-align: center;
  justify-content: space-around;
}

ul {
  margin-left: 60px;
}

ul li {
  list-style: none;
  display: inline-block;
  line-height: 100px;
  float: left;
}

ul li a {
  display: block;
  font-size: 14px;
  text-decoration: none;
  font-family: arial;
  color: black;
  padding: 0 20px;
}

ul li a:hover {
  color: red;
}